<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not GPT</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header>
        <a href="/" class="title">Not GPT</a>
        <a href="/background" class="background">開発背景</a>
    </header>
    <main>
        <h1>Is this written by GPT ?</h1>
        <img class="gpt-img" src="../static/image/gpt.gif" alt="gpt image">
        <br>
        
        <form action="/judge" method="get">
            <div class="textarea-wrapper">
                <textarea id="req_msg" class="textarea" name='req_msg' placeholder="判定したいテキストを張り付けてね📝" ></textarea>
            </div>
            <input class="judge-button" type="submit" value="判定"></input>
        </form>
        <br>
        <h3>※日本語のみに対応しております。</h3>
    </main>
    

    <script src="../static/js/index.js"></script>
</body>
</html>