<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not GPT</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <header>
        <a href="/" class="title">Not GPT</a>
        <a href="/background" class="background">開発背景</a>
    </header>
    <main>
        <img class="judging" src="../static/image/judging.gif" alt="計算中">
    </main>
</body>
</html>